<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSYLAB Experiments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
<section class="usersPages">
  <div class="experimentPage"></div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/home.js"></script>
</body>
</html>
